### Reading dataset

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
path = '/content/drive/MyDrive/MMU/Adv ML/adverts.csv'
adv_df = pd.read_csv(path)

In [ ]:
adv_df.shape

(402005, 12)

### Taking subset of dataset

In [ ]:
sample_df = adv_df.sample(40000)

In [ ]:
sample_df.shape

(40000, 12)

In [ ]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40000 entries, 205731 to 35947
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   public_reference       40000 non-null  int64
 1   mileage                39983 non-null  float64
 2   reg_code               36797 non-null  object
 3   standard_colour        39449 non-null  object
 4   standard_make          40000 non-null  object
 5   standard_model         40000 non-null  object
 6   vehicle_condition      40000 non-null  object
 7   year_of_registration   36656 non-null  float64
 8   price                  40000 non-null  int64
 9   body_type              39938 non-null  object
 10  crossover_car_and_van  40000 non-null  bool
 11  fuel_type              39946 non-null  object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 3.7+ MB

In [ ]:
# I am setting the column 'public_reference' as row index of the dataset.
sample_df.set_index('public_reference', inplace=True)

    From the dataset the column public_reference can be used as index column so I have replaced current index column with
    public_reference.